In [1]:
from get_dist.get_sex_race_age_dist import load_structured_data, get_sex_dist, get_age_dist, get_race_dist, sample_demographics

In [2]:
dp05 = "/user/al4263/Simulate/Persona/data/DP05/structured_data/ca_structured_data.json"
dp02 = "/user/al4263/Simulate/Persona/data/DP02/structured_data/ca_dp02_structured.json"

dp05_data = load_structured_data(dp05)
dp02_data = load_structured_data(dp02)

In [3]:
age_distributions = get_age_dist(dp05_data)
sex_distributions = get_sex_dist(dp05_data)
race_distributions = get_race_dist(dp05_data)

In [4]:
demographics = sample_demographics(age_distributions, sex_distributions, race_distributions)
num_samples = 1000
samples = [sample_demographics(age_distributions, sex_distributions, race_distributions) for _ in range(num_samples)]

import pandas as pd
# Create a DataFrame
df = pd.DataFrame(samples)

# Display the Dat

In [5]:
df

                   Age     Sex                       Race Ethnicity
0       25 to 34 years    Male                   Hispanic   Mexican
1       35 to 44 years  Female                   Hispanic   Mexican
2       35 to 44 years  Female                   Hispanic   Mexican
3       45 to 54 years  Female                      White      None
4    85 years and over  Female            Some Other Race      None
..                 ...     ...                        ...       ...
995     25 to 34 years    Male  White and Some Other Race      None
996     65 to 74 years  Female  White and Some Other Race      None
997     45 to 54 years  Female                   Hispanic   Mexican
998     60 to 64 years  Female                   Hispanic   Mexican
999     65 to 74 years  Female                   Hispanic   Mexican

[1000 rows x 4 columns]

### Sample Household

In [6]:
from get_dist.get_household_dist import sample_household_type, sample_relationship

# add a column called HOUSEHOLD_RELATIONSHIP
df['HOUSEHOLD_RELATIONSHIP'] = df.apply(lambda row: sample_relationship(dp02_data, dp05_data), axis=1)
from get_dist.get_household_dist import sample_household_type, sample_relationship

# Add a column called HOUSEHOLD_RELATIONSHIP
df['HOUSEHOLD_RELATIONSHIP'] = df.apply(lambda row: sample_relationship(dp02_data, dp05_data), axis=1)

# Sample household type only for primary householders
def sample_household_type_for_primary(row):
    if row['HOUSEHOLD_RELATIONSHIP'] == 'Primary Householder':
        return sample_household_type(dp02_data, row['Sex'])
    return None

# Add a column called HOUSEHOLD_TYPE
df['HOUSEHOLD_TYPE'] = df.apply(sample_household_type_for_primary, axis=1)

# Display the updated DataFrame
df

,Age,Sex,Race,Ethnicity,HOUSEHOLD_RELATIONSHIP,HOUSEHOLD_TYPE
0,25 to 34 years,Male,Hispanic,Mexican,Spouse of Householder,None
1,35 to 44 years,Female,Hispanic,Mexican,Other Relative of Householder,None
2,35 to 44 years,Female,Hispanic,Mexican,Other Relative of Householder,None
3,45 to 54 years,Female,White,None,Primary Householder,Single Female Without kids
4,85 years and over,Female,Some Other Race,None,Other Relative of Householder,None
...,...,...,...,...,...,...
995,25 to 34 years,Male,White and Some Other Race,None,Child living with Parents,None
996,65 to 74 years,Female,White and Some Other Race,None,Primary Householder,Single Female Without kids
997,45 to 54 years,Female,Hispanic,Mexican,Primary Householder,Single Female Without kids
998,60 to 64 years,Female,Hispanic,Mexican,Primary Householder,Married-couple Without kids
999,65 to 74 years,Female,Hispanic,Mexican,Primary Householder,Single Female Without kids

### sample martial_status, veteran, english proficiency

In [7]:
from get_dist.get_marital_status_dist import sample_marital_status_by_gender
from get_dist.get_veteran_dist import sample_veteran_status
from get_dist.get_language_dist import sample_languages
from get_dist.get_edu_dist import sample_education_level

# Sample marital status for each row in the DataFrame
df['MARITAL_STATUS'] = df.apply(lambda row: sample_marital_status_by_gender(dp02_data, row['Sex']), axis=1)

df['VETERAN_STATUS'] = df.apply(lambda row: sample_veteran_status(dp02_data), axis=1)

df['LANGUAGE'], df['ENGLISH_PROFICIENCY'] = zip(*df.apply(lambda row: sample_languages(dp02_data), axis=1))

df['EDUCATION'] = df.apply(lambda row: sample_education_level(dp02_data), axis=1)
df

,Age,Sex,Race,Ethnicity,HOUSEHOLD_RELATIONSHIP,HOUSEHOLD_TYPE,MARITAL_STATUS,VETERAN_STATUS,LANGUAGE,ENGLISH_PROFICIENCY,EDUCATION
0,25 to 34 years,Male,Hispanic,Mexican,Spouse of Householder,None,"Now married, except separated",Non-Veteran,English only,Speak English well,Bachelor's degree
1,35 to 44 years,Female,Hispanic,Mexican,Other Relative of Householder,None,Divorced,Non-Veteran,English only,Speak English well,Graduate or professional degree
2,35 to 44 years,Female,Hispanic,Mexican,Other Relative of Householder,None,Separated,Non-Veteran,English only,Speak English well,High school graduate
3,45 to 54 years,Female,White,None,Primary Householder,Single Female Without kids,"Now married, except separated",Non-Veteran,Asian and Pacific Islander languages,Speak English well,Associate's degree
4,85 years and over,Female,Some Other Race,None,Other Relative of Householder,None,Never married,Non-Veteran,English only,Speak English well,"Some college, no degree"
...,...,...,...,...,...,...,...,...,...,...,...
995,25 to 34 years,Male,White and Some Other Race,None,Child living with Parents,None,"Now married, except separated",Non-Veteran,Asian and Pacific Islander languages,Speak English well,Bachelor's degree
996,65 to 74 years,Female,White and Some Other Race,None,Primary Householder,Single Female Without kids,"Now married, except separated",Veteran,Spanish,Speak English well,Associate's degree
997,45 to 54 years,Female,Hispanic,Mexican,Primary Householder,Single Female Without kids,Never married,Non-Veteran,English only,Speak English well,"Some college, no degree"
998,60 to 64 years,Female,Hispanic,Mexican,Primary Householder,Married-couple Without kids,"Now married, except separated",Non-Veteran,English only,Speak English well,"Some college, no degree"
999,65 to 74 years,Female,Hispanic,Mexican,Primary Householder,Single Female Without kids,Divorced,Non-Veteran,English only,Speak English well,High school graduate

In [8]:
from get_dist.get_birth_dist import sample_birth_and_citizenship_multiple
df['BIRTH_PLACE'], df['CITIZENSHIP'], df['BIRTH_DETAIL'] = zip(*df.apply(lambda row: sample_birth_and_citizenship_multiple(dp02_data), axis=1))
df

,Age,Sex,Race,Ethnicity,HOUSEHOLD_RELATIONSHIP,HOUSEHOLD_TYPE,MARITAL_STATUS,VETERAN_STATUS,LANGUAGE,ENGLISH_PROFICIENCY,EDUCATION,BIRTH_PLACE,CITIZENSHIP,BIRTH_DETAIL
0,25 to 34 years,Male,Hispanic,Mexican,Spouse of Householder,None,"Now married, except separated",Non-Veteran,English only,Speak English well,Bachelor's degree,US Born,US Citizen,State of residence
1,35 to 44 years,Female,Hispanic,Mexican,Other Relative of Householder,None,Divorced,Non-Veteran,English only,Speak English well,Graduate or professional degree,US Born,US Citizen,Different state
2,35 to 44 years,Female,Hispanic,Mexican,Other Relative of Householder,None,Separated,Non-Veteran,English only,Speak English well,High school graduate,US Born,US Citizen,State of residence
3,45 to 54 years,Female,White,None,Primary Householder,Single Female Without kids,"Now married, except separated",Non-Veteran,Asian and Pacific Islander languages,Speak English well,Associate's degree,US Born,US Citizen,State of residence
4,85 years and over,Female,Some Other Race,None,Other Relative of Householder,None,Never married,Non-Veteran,English only,Speak English well,"Some college, no degree",Foreign Born,US Citizen,Latin America
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,25 to 34 years,Male,White and Some Other Race,None,Child living with Parents,None,"Now married, except separated",Non-Veteran,Asian and Pacific Islander languages,Speak English well,Bachelor's degree,US Born,US Citizen,State of residence
996,65 to 74 years,Female,White and Some Other Race,None,Primary Householder,Single Female Without kids,"Now married, except separated",Veteran,Spanish,Speak English well,Associate's degree,Foreign Born,Not a U.S. citizen,Asia
997,45 to 54 years,Female,Hispanic,Mexican,Primary Householder,Single Female Without kids,Never married,Non-Veteran,English only,Speak English well,"Some college, no degree",US Born,US Citizen,Different state
998,60 to 64 years,Female,Hispanic,Mexican,Primary Householder,Married-couple Without kids,"Now married, except separated",Non-Veteran,English only,Speak English well,"Some college, no degree",Foreign Born,US Citizen,Latin America
999,65 to 74 years,Female,Hispanic,Mexican,Primary Householder,Single Female Without kids,Divorced,Non-Veteran,English only,Speak English well,High school graduate,US Born,US Citizen,Different state

In [9]:
import os
import json

# Create the directory structure
base_dir = "/user/al4263/Simulate/Persona/data/persona_meta/CA"
os.makedirs(base_dir, exist_ok=True)

# Function to convert row to JSON
def row_to_json(row):
    return row.to_dict()

# Save each row as a separate JSON file
for index, row in df.iterrows():
    file_name = f"CA_persona_{index}.json"
    file_path = os.path.join(base_dir, file_name)
    
    with open(file_path, 'w') as f:
        json.dump(row_to_json(row), f, indent=2)

print(f"Saved {len(df)} persona files in {base_dir}")

Saved 1000 persona files in /user/al4263/Simulate/Persona/data/persona_meta/CA